# Ignorar archivos compilados
*.o
*.a
*.out

# Ignorar directorios de sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones locales de entorno
.env
.vscode/

# Ignorar logs
*.log

# Ignorar archivos temporales
*.tmp

# Ignorar archivos de caché
*.cache

# Ignorar todos los archivos dentro de la carpeta data
data/**

# Ignorar todos los archivos dentro de la carpeta datasets
datasets/**

# Ignorar modelos de Yolo
*.pt
